<!DOCTYPE html>
<html>
<body>
  <!-- Barra de navegação com a marca Kunstee -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_url %>">Kunstee</a>
  </nav>

  <!-- Seu conteúdo da página -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <% @produtos_por_nome.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.quantidade %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
