<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Loja de camisetas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- PWA manifest - pode remover se não estiver usando -->
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Inclusão do arquivo CSS do Bootstrap -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <!-- Inclusão do arquivo JavaScript (para Sprockets) -->
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <!-- Barra de navegação com a marca Kunstee -->
<nav class="navbar navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="<%= root_url %>">Kunstee</a>
  <%= form_tag busca_produto_path, method: :get, class: "ml-auto d-flex align-items-center" do %>
    <%= text_field_tag :nome, params[:nome], class: "form-control mr-2", placeholder: "Buscar" %>
    <%= submit_tag "Buscar", class: "btn btn-outline-light" %>
  <% end %>
</nav>







    <div class="container">
          <%= yield %>
    </div>
  </body>
</html>
